<div data-ng-include src="'partials/searchbox.html'"></div>
<div class="row quicksearch">
    <div class="container clearfix">
        <h2>Quick Search</h2>
        <ul>
            <li><img src="images/q1.png" /><span><a href="#">Maid</a></span>
            </li>
            <li><img src="images/q2.png" /><span><a href="#">Driver</a></span>
            </li>
            <li><img src="images/q3.png" /><span><a href="#">Electrician</a></span>
            </li>
            <li><img src="images/q4.png" /><span><a href="#">Plumber</a></span>
            </li>
            <li><img src="images/q5.png" /><span><a href="#">Babysit</a></span>
            </li>
        </ul>
    </div>
</div>
<div class="row boxs">
    <div class="container clearfix">
        <div class="box">
            <img src="images/b1.png" />
            <p class="left">
                Trending This week
            </p>
            <p class="right">
                30 Places
            </p>
        </div>
        <div class="box">
            <img src="images/b2.png" />
            <p class="left">
                Trending This week
            </p>
            <p class="right">
                30 Places
            </p>
        </div>
        <div class="box">
            <img src="images/b3.png" />
            <p class="left">
                Trending This week
            </p>
            <p class="right">
                30 Places
            </p>
        </div>
        <div class="box">
            <img src="images/b4.png" />
            <p class="left">
                Trending This week
            </p>
            <p class="right">
                30 Places
            </p>
        </div>
    </div>
</div>