<div class="row">
    <div class="container clearfix">
        <div class="search">
            <div>
                <i class="fa fa-map-marker"></i>
                <select>
                    <option>Dubai</option>
                    <option>Abu Dhabi</option>
                    <option>Ajman</option>
                    <option>Fujairah</option>
                    <option>Ras al-Khaimah</option>
                    <option>Sharjah</option>
                    <option>Umm-al-Quwain</option>
                </select>
            </div>
            <div>
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search Agency, Company, Service" />
            </div>
            <a href="servicesdetails.html">
                <input type="submit" value="Search" />
            </a>
        </div>
    </div>
</div>